*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.logo img{
    width: 150px;
    height: 150px;
    margin-left: 15px;
    position: sticky;
    top: 0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding-top: 5px;
    position: relative;
}
ul{
    list-style: none;
    display: flex;
    gap: 3rem;
    margin: 50px auto ;
    position: sticky;
    top: 0;
}
a{
    text-decoration: none;
    color: black;
    transition: 0.3s;
}
.conteiner img{
    width: 100%;
    height: 10%;
}
.conteiner{
    position: relative;
    text-align: center;
}
.title{
    position: absolute;
    bottom: 250px;
    font-size: 40px;
    margin-left: 130px;
    color: hsl(120, 100%, 18%);
}
.title button{
    border: none;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background-color: hsl(120, 100%, 18%);
    margin-top: 100px;
    margin-right: 700px;
    transition: background-color 0.3s;
    box-shadow: 10px 15px 15px hsl(120, 100%, 0%);
}

a:hover{
    text-transform: capitalize;
    color: hsl(120, 100%, 18%);
    border-bottom: solid 1px;
}
.linha{
    padding: 1.5px;
}
.title button:hover{
    background-color: hsl(120, 52%, 42%);
    cursor: pointer;
}
footer{
    width: 100%;
    color: black;
}
#footer_content{
    background-color: hsl(0, 1%, 68%);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 10px;
}
#footer_contacts h4{
margin-bottom: 10px;
}
#footer_contacts{
    margin: auto auto;
}
#footer_social_media .footer-link{
    display: flex;
    width: 30px;
    height: 30px;
    font-size: 30px;
    background-color: hsl(0, 0%, 54%);
    justify-content: center;
    align-items: center;

}
#footer_social_media{
    display: flex;
    gap: 20px;
    margin-top: 10px;
}
.footer-list #email{
    width: 30px;
    height: 30px;
    background-color: hsl(0, 0%, 54%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.footer-list #telefone{
    width: 30px;
    height: 30px;
    background-color: hsl(0, 0%, 54%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.footer-list #localização{
    width: 30px;
    height: 30px;
    background-color: hsl(0, 0%, 54%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.footer-list{
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin: auto auto;
}
#copyrigth{
    background-color: hsl(0, 0%, 39%);
    display: flex;
    justify-content: center;
    padding: 7px;
}